/* General page styling that appears on every page
More can be found here:
https://meyerweb.com/eric/tools/css/reset/
*/

body {
    color: $text-primary;
    font-family: Lato;
    font-style: normal;
}


.BlogContainer {
    margin: 0 auto;
    padding-bottom: 138px;
    padding-top: 76px;
    width: 900px;
}

.button {
    box-shadow: 0px 3px 10px rgba(104, 104, 104, 0.5);
    color: $background-primary;
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    padding: 11px;
    text-align: center;
    width: 100%;
    border: 0;
}

.button--purplePink {
    background: linear-gradient(90deg, $gradient-background 0.83%, $gradient-background-secondary 100%);
}

// Floating Label Input Field
.floatingLabelInput {
    margin-bottom: 21px;
    position: relative;


    .floatingLabelInput__inputField {
        background: rgba(255, 255, 255, 0);
        border: 1px solid transparent;
        box-sizing: border-box;
        box-shadow: inset 0px 1px 5px rgba(142, 142, 142, 0.5);
        display: block;
        font-size: 16px;
        font-weight: 300;
        height: 54px;
        line-height: 19px;
        padding: 26px 11px 9px 11px;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .floatingLabelInput__inputLabel {
        color: $text-secondary;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        opacity: 0.5;
        padding: 16px 15px;
        position: absolute;
        top: 0;
        transition: all 200ms;
    }

    // Animation
    .floatingLabelInput__inputField:focus + .floatingLabelInput__inputLabel, // Shift label up when input field has :focus.
    .floatingLabelInput__inputField.isInvalid + .floatingLabelInput__inputLabel, // Keeps label up when input field is valid
    .floatingLabelInput__inputField.isValid + .floatingLabelInput__inputLabel { //  and when it is invalid.
        font-size: 12px;
        font-weight: 300;
        opacity: 1;
        padding: 5px 0 0 11px;
        position: absolute;
        top: 0px;
        transition: all 200ms;
    }

    // Input field validation styling
    .floatingLabelInput__inputField.isInvalid {
        border: 1px solid red;
        color: red;
    }

    .floatingLabelInput__inputField.isInvalid + .floatingLabelInput__inputLabel {
        color: red;
    }
}

