/* General page styling that appears on every page
More can be found here:
https://meyerweb.com/eric/tools/css/reset/
*/

body {
    color: $text-primary;
    font-family: Lato;
    font-style: normal;
}


.BlogContainer {
    margin: 0 auto;
    padding-bottom: 138px;
    padding-top: 76px;
    width: 900px;
}

.button {
    box-shadow: 0px 3px 10px rgba(104, 104, 104, 0.5);
    color: $background-primary;
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    padding: 11px;
    text-align: center;
    width: 100%;
    border: 0;
}

.button--purplePink {
    background: linear-gradient(90deg, $gradient-background 0.83%, $gradient-background-secondary 100%);
}
