$text-primary: #101010;
$text-secondary: #848484;

$background-primary: #fff;

$gradient-background: #ac519c;
$gradient-background-secondary: #E5424F;

$gray-light: #e5e5e5;
$gray-dark: #464646;

$green: #007A02;
